# STORAGE
LOGS_DIR = src/data/logs

# API_KEYS

SERPAPI_API_KEY = Here goes your SERPAPI API KEY you can get one in https://serpapi.com/
OPENAI_API_KEY = Here goes your OPENAI API KEY you can get one in https://cloud.sambanova.ai/apis


# API_ENDPOINTS
OPENAI_BASE_URL = https://fast-api.snova.ai/v1

# TIMEOUT
INFERENCE = 30